{
	"plugins": [
		"@babel/plugin-proposal-optional-chaining",
		"@babel/proposal-class-properties",
		"@babel/plugin-proposal-object-rest-spread",
		"babel-plugin-styled-components"
	],
	"presets": [
		"@babel/env",
		"@babel/preset-typescript",
		[
			"babel-preset-gatsby",
			{
				"targets": {
					"browsers": [">0.25%", "not dead"]
				}
			}
		]
	]
}
