.privacy-link-container {
	@include breakpoint(md) {
		margin: 0;
	}

	margin: .5em 0 1em;

	&::before {
		@include breakpoint(md) {
			content: '/';
			margin: 0 .5em;
		}
	}
}

.copyright-container {
	@include breakpoint(md) {
		flex-direction: row;
	}

	align-items: center;
	display: flex;
	flex-direction: column;
}

.locale-link {
	align-items: center;
	box-sizing: border-box;
	color: inherit;
	display: flex;
	font-size: .9em;
	height: 3.6rem;
	justify-content: center;
	text-decoration: none;
	width: 3.6rem;

	// &:hover {
	// 	@include dark-mode {
	// 		background-color: rgba($c-dark-background, .5);
	// 	}

	// 	background-color: rgba($c-light-background, .5);
	// }

	// &.current {
	// 	@include dark-mode {
	// 		background-color: $c-dark-background;
	// 	}

	// 	background-color: $c-light-background;
	// }

	&:focus,
	&:hover {
		background-color: rgba($c-background, .5);
	}

	&[aria-current='page'],
	&.current {
		background-color: $c-background;
	}
}

.locale-item {
	align-items: center;
	display: flex;
	justify-content: center;
}

.site-footer {
	@include breakpoint(md) {
		flex-direction: row;
		margin-left: 6em;
		padding: 2em;
		padding-bottom: calc(2em + var(--safe-area-inset-bottom));
	}

	@include breakpoint(lg) {
		padding: 4em;
		padding-bottom: calc(4em + var(--safe-area-inset-bottom));
	}

	background-color: $c-thread;
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 2em;
	padding-bottom: calc(2em + var(--safe-area-inset-bottom));
	position: sticky;
}
