.privacy-link-container {
	@include breakpoint(md) {
		margin: 0;
	}

	margin: .5em 0 1em;

	&::before {
		@include breakpoint(md) {
			content: '/';
			margin: 0 .5em;
		}
	}
}

.copyright-container {
	@include breakpoint(md) {
		flex-direction: row;
	}

	align-items: center;
	display: flex;
	flex-direction: column;
}

.locale-link {
	align-items: center;
	box-sizing: border-box;
	color: inherit;
	display: flex;
	font-size: .9em;
	height: 3.6rem;
	justify-content: center;
	position: relative;
	text-decoration: none;
	transition: .3s;
	width: 3.6rem;
	z-index: 1;

	// &:hover {
	// 	@include dark-mode {
	// 		background-color: rgba($c-dark-background, .5);
	// 	}

	// 	background-color: rgba($c-light-background, .5);
	// }

	// &.current {
	// 	@include dark-mode {
	// 		background-color: $c-dark-background;
	// 	}

	// 	background-color: $c-light-background;
	// }

	&:focus,
	&:hover {
		background-color: var(--c-lang-link-hover);
		z-index: 2;
	}

	&:focus {
		box-shadow: 0 0 0 .25em var(--c-thread), 0 0 0 .5em var(--c-theme);
		outline: none;
		z-index: 3;
	}

	// &[aria-current='page'],
	&.current {
		background-color: var(--c-background);
	}
}

.locale-item {
	align-items: center;
	display: flex;
	justify-content: center;
}

.site-footer {
	@include breakpoint(md) {
		flex-direction: row;
	}

	@include double-breakpoint(md, md) {
		margin-left: 6em;
	}

	@include breakpoint(lg) {
		padding: 4em;
		padding-bottom: calc(4em + var(--safe-area-inset-bottom));
	}

	@include reduced-motion {
		position: relative;
	}

	align-items: center;
	background-color: var(--c-thread);
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 2em;
	padding-left: calc(2em + var(--safe-area-inset-left));
	padding-right: calc(2em + var(--safe-area-inset-right));
	padding-bottom: calc(2em + var(--safe-area-inset-bottom));
	position: sticky;

	a:not(.special-link) {
		&:focus {
			box-shadow: 0 0 0 .25em var(--c-thread), 0 0 0 .5em var(--c-theme);
		}
	}
}
