.stars {
	@include breakpoint(md) {
		height: 4em;
	}

	height: 2em;
	width: auto;
}

.stars-container {
	@include breakpoint(md) {
		height: calc(50% - 75px);
	}

	left: 0;
	top: 0;
	z-index: 4;
}

.site-title {
	color: inherit;
	font-size: 1em;
	text-decoration: none;
}

.site-title-container {
	@include breakpoint(md) {
		display: block;
	}

	&:not(:lang(ja)) {
		@include breakpoint(md) {
			transform: scale(-1);
		}
	}

	display: none;
	text-align: center;
	white-space: nowrap;
}

.nav-link {
	@include breakpoint(md) {
		border-bottom: 0;
		border-left: 2px solid rgba($c-copy, .15);
		margin-left: 0;
		margin-top: 1em;
	}

	border-bottom: 2px solid rgba($c-copy, .15);
	color: inherit;
	font-weight: 500;
	text-decoration: none;
	transition: .3s;
	margin-left: 1em;

	&:hover {
		@include breakpoint(md) {
			border-left-color: $c-copy;
		}

		background-color: rgba($c-copy, .15);
		border-bottom-color: $c-copy;
	}

	&[aria-current='page'] {
		@include breakpoint(md) {
			border-bottom: 0;
			border-left: 2px solid rgba($c-theme, .15);
		}

		border-bottom: 2px solid $c-theme;
		color: $c-theme;
	}
}

.site-nav {
	&:not(:lang(ja)) {
		@include breakpoint(md) {
			transform: scale(-1);
		}
	}
}

.site-nav-container {
	@include breakpoint(md) {
		display: flex;
		height: calc(50% - (150px / 2));
		justify-content: flex-end;
	}
}

.site-header {
	@include breakpoint(md) {
		background-color: #fff;
		box-shadow: rgba(46, 41, 51, 0.08) 0px 1px 2px, rgba(71, 63, 79, 0.08) 0px 2px 4px;
		height: 100%;
		padding: 1em 0 2em;
		width: 6em;
		writing-mode: vertical-lr;
	}

	align-items: center;
	background-color: transparent;
	background-image: linear-gradient(to bottom, $c-background, rgba($c-background, .65), rgba($c-background, 0));
	box-sizing: border-box;
	display: flex;
	height: 4em;
	justify-content: space-between;
	left: 0;
	opacity: 1;
	padding: 0 1em;
	position: fixed;
	top: 0;
	transition: opacity .25s, transform .25s;
	width: 100%;
	z-index: 3;
}
