:root {
	@include breakpoint(sm) {
		--s-footer-height: 8.6rem;
	}

	@include breakpoint(md) {
		--s-footer-height: 15rem;
	}

	--safe-area-inset-top: 0;
	--safe-area-inset-right: 0;
	--safe-area-inset-bottom: 0;
	--safe-area-inset-left: 0;
	--s-footer-height: 12.4rem;

	@supports (top: constant(safe-area-inset-top)) {
		--safe-area-inset-top: constant(safe-area-inset-top);
		--safe-area-inset-right: constant(safe-area-inset-right);
		--safe-area-inset-bottom: constant(safe-area-inset-bottom);
		--safe-area-inset-left: constant(safe-area-inset-left);
	}

	@supports (top: env(safe-area-inset-top)) {
		--safe-area-inset-top: env(safe-area-inset-top);
		--safe-area-inset-right: env(safe-area-inset-right);
		--safe-area-inset-bottom: env(safe-area-inset-bottom);
		--safe-area-inset-left: env(safe-area-inset-left);
	}
}

html {
	font-size: 62.5%;
	height: 100%;
}

body {
	background-color: $c-thread;
	color: #555;
	font-family: $f-copy;
	font-size: 1.6rem;
	height: 100%;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #333;
	font-family: $f-heading;
	font-weight: 600;
	line-height: 1;
	margin: 1em 0 .5em;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.666em;
}

p {
	font-size: 1em;
	line-height: 1.5;
	margin: 0 0 1em;
}

ol,
ul {
	box-sizing: border-box;
	line-height: 1;
	margin: 0 0 1em;
	padding-left: 2em;

	& > li {
		line-height: 1.4;
		margin: 0 0 .5em;
		padding-left: 1em;
	}
}

a:not(.special-link) {
	border-bottom: 2px solid rgba($c-theme, .25);
	color: $c-theme;
	font-weight: 500;
	text-decoration: none;
	transition: border-bottom-color .3s, background-color .3s;

	&:focus,
	&:hover {
		background-color: rgba($c-theme, .15);
		border-bottom-color: $c-theme;
	}

	&:focus {
		box-shadow: 0 0 0 .125em #fff, 0 0 0 .25em $c-theme;
		outline: none;
	}

	&:active {
		border-bottom-style: dashed;
	}
}

abbr[title] {
	cursor: help;
}
