html {
	font-size: 62.5%;
	height: 100%;
}

body {
	font-family: $f-copy;
	font-size: 1.6rem;
	height: 100%;
	margin: 0;
}

h1,
h2,
h3,
h4 {
	line-height: 1;
	margin: 1em 0 .5em;
}

p {
	font-size: 1em;
	line-height: 1.4;
	margin: 0 0 1em;
}
