.sr-only {
	border: 0;
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal;
}

.md-plus {
	@include double-breakpoint(md, md) {
		display: initial;
	}

	display: none;
}

.heading {
	font-family: $f-heading;
}

.centered {
	text-align: center;
}

.subtitle {
	color: var(--c-subtitle);
	font-size: 1.2em;
	font-family: $f-heading;
}

.section-header {
	margin: 4em 0;
	text-align: center;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p {
		margin-left: 2em;
		margin-right: 2em;
	}
}

.section {
	margin-left: auto;
	margin-right: auto;
	max-width: 1220px;

	& > h1,
	& > .subtitle {
		text-align: center;
	}
}

.main-content {
	transition: transform .25s;
}

.site-main {
	@include double-breakpoint(md, md) {
		margin: 0 0 0 6em;
	}

	background-color: var(--c-background);
	box-sizing: border-box;
	overflow: auto;
	padding-bottom: 4em;
	padding-left: var(--safe-area-inset-left);
	padding-right: var(--safe-area-inset-right);
	padding-top: 4em;
	position: relative;
	transform: translate3d(0, 0, 0);
	z-index: 2;
}
