@mixin breakpoint($breakpoint) {
	$width: map-get($breakpoints, $breakpoint);
	@media (min-width: $width) {
		@content;
	}
}

@mixin double-breakpoint($width-breakpoint, $height-breakpoint) {
	$width: map-get($breakpoints, $width-breakpoint);
	$height: map-get($breakpoints-height, $height-breakpoint);
	@media (min-width: $width) and (min-height: $height) {
		@content;
	}
}

@mixin pointer($pointer) {
	@media (pointer: $pointer) {
		@content;
	}
}

@mixin no-hover {
	@media (pointer: coarse) {
		@content;
	}

	@media (pointer: none) {
		@content;
	}
}

@mixin reduced-motion {
	@media (prefers-reduced-motion: reduce) {
		@content;
	}
}

@mixin dark-mode {
	@media (prefers-color-scheme: dark) {
		@content;
	}
}
