// Colors.
$c-background: #fff;
$c-copy: #333;
$c-theme: hsl(219, 100, 54);
$c-accent: hsl(1, 79, 52);
$c-thread: hsl(48, 100, 93);

$c-dark-background: #000;
$c-dark-copy: #eee;
$c-dark-theme: hsl(219, 100, 54);
$c-dark-accent: hsl(1, 79, 58);
$c-dark-thread: hsl(48, 100, 7);

// Fonts.
$f-copy: 'Work Sans', sans-serif;

// Sizes.
$s-content-width: 96rem;
$s-copy-width: 54rem;
$s-header-height: 8.4rem;

// Breakpoints.
$width-xs: 0;
$width-sm: 544px;
$width-md: 768px;
$width-lg: 1012px;
$width-xl: 1280px;

$breakpoints: (
	sm: $width-sm,
	md: $width-md,
	lg: $width-lg,
	xl: $width-xl,
);
